// Place all the styles related to the system controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.centered {
    text-align: center;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  height: 100%
}