.row
  .col-md-12
    .alert.alert-info
      %strong
        We're processing your file. This may take a few seconds
.row
  .col-md-12
    = image_tag('loading.gif')

:javascript
  var pusher = new Pusher("#{Figaro.env.pusher_key}");
  var channel = pusher.subscribe('convertion_messages');
  channel.bind('finished', function(data) {
    $.get("/finished/"+data.token, function( data ) {
      $( "#container" ).html( data );
      });
  });
  